.confirmation_modal {
  background-color: $dark-blue;
  bottom: 25%;
  color: $off-white;
  display: flex;
  height: 200px;
  left: 10%;
  position: fixed;
  right: 10%;
  top: 25%;
  width: 80%;
  z-index: 1000;
}

.confirmation_header {
  height: 20%;
  margin-left: 10%;
  width: 100%;
}

.confirmation_content {
  margin-top: 5%;
  height: 80%;
  width: 90%;
}


